:root {
  --background-origin: #ffffff;
  --basik-color: #2f303a;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --first-title-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --btn-hover-color: #188ce8;
  --btn-second-color: #f5f4fa;
  --background-item-color: #ffffff;
  --background-items-color: #ffffff;
}
body {
  font-family: 'Roboto', sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}
.section {
padding-top: 94px;
padding-bottom: 94px;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.header {
  color: var(--background-origin);
  
}
.header-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  display: flex;
 
 
 }
 .header-container {display: flex;   
     }
 .header-border {
   border-bottom: 1px solid #ECECEC;
   
 }
 .header-nav{ 
   display: block;
   display: flex;   
   align-items: center;
   
  }
  .header-tel  {
    display: block;
    display: flex;       
    margin-left: auto;
    align-items: center;
  }

.header-links:hover,
.header-links:focus {
  color: var(--accent-color);
}
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  display: flex;
  align-items: center; 
  padding-top: 32px;
    padding-bottom: 32px;
  
}
.list-header:not(:last-child) {
  margin-right: 50px;   
 
 }
 .list-header {
  padding-top: 32px;
  padding-bottom: 32px;
 }

  .header-link:hover,
  .header-link:focus {
    color: var(--accent-color);
  }
  .link-mail:hover,
  .link-mail:focus {
    color: var(--accent-color);
  }
  .link-tel:hover,
  .link-tel:focus {
    color: var(--accent-color);
  }
  .hero-btn {
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--first-title-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    

  }
  .hero-btn:hover,
  .hero-btn:focus {
    background-color: #188ce8;
  }
  .header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--first-text-color);
  }
  .list-header-mail{
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .list-header-tel {
    padding-top: 32px;
    padding-bottom: 32px;

  }
  .link-logo{
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px ;
  }
  .link-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
  }
  .link-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    
  }

  .logo-title {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .logo-item {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
  }
  .logo-it {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: white;
  }
  .hero {
    background-color: var(--basik-color);
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--first-title-color);
    text-transform: uppercase;
    max-width: 696px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }
  .title {
    background-color: var(--background-item-color);
    padding-bottom: 0px;
  }
  .work {
    background-color: var(--background-item-color);
      }
    .work-list{
    display: flex;
  }
  .work-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .team {
    background-color: var(--background-items-color);
  }
  .list-items{
    display: flex;
  }
  .list-item:not(:last-child)  {
    margin-right: 30px;
  }

  
  .about-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    text-transform: uppercase;
    width: 270px;
  }
  .title-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    width: 270px;
    margin-top: 10px;
  
  }
  .work-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    margin-bottom: 50px;
  }
  .title-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .list-masters{
    flex-basis: calc(100% / 4 - 30px);
    margin: 15px;
    
  }
  

  .team-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    margin-bottom: 50px;
    
  }

  .name-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    
     }

  .masters-item {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-top: 10px;
    
      }
  .master-card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    padding-top: 30px; 
  }
  .footer {
    background-color: var(--basik-color);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
      }    

  .footer-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);  
          }

  .footer-address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--first-title-color);
    margin-top: 20px;
  }
  .footer-address:hover,
  .footer-address:focus {
    color: var(--first-title-color);
  }
  .footer-mail {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
    margin-top: 9px;
  }
  .footer-mail:hover,
  .footer-mail:focus {
    color: var(--first-title-color);
  }
  .footer-tel {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
    margin-top: 9px;
    
  }
  .footer-tel:hover,
  .footer-tel:focus {
    color: var(--first-title-color);
  }
  .hero {
    text-align: center;
  }
  /* --------------------------------------Портфолио -------------------------------*/
  .main-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .main-card{
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
    text-align: left;
  }
  
  
    
  .main-link {
    list-style: none;
    margin-bottom: 50px;
  }
  .mains-btn {    
    background-color: var(--accent-color);
    color: var(--first-title-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    background: #2196F3;
    border-radius: 4px;    
    border: 0px;
    padding: 6px 22px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .mains-btn:hover,   
  .mains-btn:focus {
    background-color: var(--btn-hover-color);
  }
  .main-btn {    
    background-color: var(--btn-second-color);
    color: var(--first-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    border: 0px;
    padding: 6px 22px;
  }

  .main-btn:hover,
  .main-btn:focus {
    background-color: var(--accent-color);
  }

.main-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
      }


.main-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);  
  margin-top: 4px;
}
.card-item {   
   
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    padding-top: 20px;
    padding-right: 24px;     
    padding-bottom: 20px;
    padding-left: 24px;
  }

.main-link {
  display: flex;
  justify-content: center;
  
}

.main-button {   
  display: flex;
  text-align: center;
  margin-right: 8px;
  
    }
